{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage"
    }],
    ["@babel/preset-react", {
      "useBuiltIns": "usage"
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-transform-runtime", {
         "corejs": 2
    }],
    "lodash",
    "react-hot-loader/babel",
    "syntax-dynamic-import",
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ]
  ]
}
